{% extends 'layout.html.twig' %}

{% block main %}

    <div class="container">
        <div class="col-md-8 offset-md-2">
            <div class="contact">
                <h5>Pour prendre un café ou un thé et de discuter sur un projet, ou besoin d'un renseignement sur la formation</h5>
                    <h5>Contacter-nous au </h5>
                    <h5 style="color: red">07.67.67.10.67</h5>
                    <h5>ou par email :</h5>
                    <h5 style="color: red">contact@afpa-angers.com</h5>
            </div>
            <div class="map_contact">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2696.952159433806!2d-0.5245643254089354!3d47.471361702983025!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x46fff29e1e0fabff!2sAFPA!5e0!3m2!1sfr!2sus!4v1560512386084!5m2!1sfr!2sus"
                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

{% endblock %}